*{
  box-sizing: border-box;
}
.label{
  min-width: 100px;
  margin: 5px;
}
.error{
  color: red;
  font-size: 0.7em;
  margin-left: 100px;
  margin-top: 10px;
}
.field-container{
  margin: 10px;
  padding: 10px;
}
.items-container{
  padding: 10px;
  min-height: 50%;
}
.item{
  min-height: 20px;
}
#form{
  font-size: 20px;
}
input, textarea{
  font-size: 20px;
  min-width: 70%;
  background-color: aquamarine;
}
textarea{
  font-size: 15px;
  min-height: 150px;
  min-width: 70%;
}
