img{
  border-radius: 50%;
  border: 1px solid white;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 10%;
}
.movie-header{
  text-align: center;
}
.movies-container{
  list-style: none;
}
.title-link{
  text-transform: capitalize;
  min-width: 300px;
}